<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<h1>Registre o seu domínio do Google Suite</h1>
<form method="post">
    <label>Domínio: <input type="text" name="domain" value="{{GET "domain"}}" /></label>
    <input type="submit" />
</form>
</body>
</html>